{
  "attribution": {
    "commit": ""
  },
  "includeCoAuthoredBy": false,
  "permissions": {
    "allow": [
      "WebFetch"
    ],
    "defaultMode": "auto"
  },
  "hooks": {
    "SessionStart": [
{{- if .work }}
      {
        "hooks": [
          {
            "type": "command",
            "command": "bash {{ .chezmoi.homeDir }}/knowledge/.claude/hooks/session-orient.sh"
          }
        ]
      }
{{- end }}
    ],
    "PostToolUse": [
      {
        "matcher": "Read",
        "hooks": [
          {
            "type": "command",
            "command": "bash {{ .chezmoi.homeDir }}/.claude/hooks/log-knowledge-fetch.sh"
          }
        ]
      },
      {
        "matcher": "Write",
        "hooks": [
{{- if .work }}
          {
            "type": "command",
            "command": "bash {{ .chezmoi.homeDir }}/knowledge/.claude/hooks/validate-note.sh"
          },
          {
            "type": "command",
            "command": "bash {{ .chezmoi.homeDir }}/knowledge/.claude/hooks/auto-commit.sh",
            "timeout": 10
          }
{{- end }}
        ]
      }
    ],
    "Stop": [
{{- if .work }}
      {
        "hooks": [
          {
            "type": "command",
            "command": "bash {{ .chezmoi.homeDir }}/knowledge/.claude/hooks/session-capture.sh"
          }
        ]
      }
{{- end }}
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "cwd=$(cat | jq -r '.cwd'); if git -C \"$cwd\" diff-index --quiet HEAD -- 2>/dev/null; then echo Clean; else echo 'Uncommitted changes'; fi"
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true,
    "arscontexta@agenticnotetaking": false,
{{- if .work }}
    "arc@voltra": true,
{{- end }}
    "caveman@caveman": true,
    "ck@cavekit-marketplace": true
  },
  "extraKnownMarketplaces": {
    "agenticnotetaking": {
      "source": {
        "source": "github",
        "repo": "agenticnotetaking/arscontexta"
      }
    },
{{- if .work }}
    "voltra": {
      "source": {
        "source": "directory",
        "path": "{{ .chezmoi.homeDir }}/Projects/voltra/Tools/VoltraClaudeRegistry"
      }
    },
{{- end }}
    "caveman": {
      "source": {
        "source": "github",
        "repo": "JuliusBrussee/caveman"
      }
    },
    "cavekit-marketplace": {
      "source": {
        "source": "github",
        "repo": "juliusbrussee/cavekit"
      }
    }
  },
  "alwaysThinkingEnabled": true,
  "effortLevel": "xhigh",
  "autoMemoryEnabled": true,
  "skipDangerousModePermissionPrompt": true,
  "preferredNotifChannel": "ghostty",
  "skipAutoPermissionPrompt": true
}
